@charset "utf-8";
/* CSS Document */
html{
	scroll-behavior: smooth;
}
body {
	margin:0;
	padding:0;
	background:#FFF;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color:#363636;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:1em 0 0.5em;
	color:#696969;
}

h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin:0.3em 0 0.5em;
}
img {
	vertical-align:bottom;
	max-width:100%;
}


a:link,
a:visited {
	text-decoration:none;
	color:#e84e1b;
	transition:0.2s all ease;
}
a:hover {
	text-decoration:none;
	color:#f39200;
}
a:active {
	color:#696969;
}


.negative {
	color:#FFFFFF;
}
.negative h1,
.negative h2,
.negative h3,
.negative h4,
.negative h5,
.negative h6 {
	color:#FFFFFF;
}
.negative a:link,
.negative a:visited {
	color:#FFF;
}
.negative a:hover {
	color:#FFF;
	text-decoration:underline;
}
.negative a:active {
	color:#FFF;
}



.bttn {
    border: 1px solid #e84e1b;
    border-radius: 5px;
    color: #e84e1b;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    padding: 17px 33px 15px;
	margin:20px 0;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.bttn:hover {
	background:#e84e1b;
	color:#fff;
}
.negative .bttn {
    border: 1px solid #FFF;
    color: #FFF;
}
.negative .bttn:hover {
	background: #FFF;
    color: #e84e1b;
	text-decoration:none;
}



.wrapper {
	width: 80%;
	margin: 0 auto;
}


#headerTop {
	background: #363636;
	border-bottom: 3px solid #EEEEEE;
	color: #949494;
	text-align: center;
	padding: 20px 0;
}
.headerContact span {
	display: block;
	margin: 12px 5px;
}
.headerSocial a {
	font-size: 22px;
}


#headerBottom {
	padding: 20px 0;
}
#logo {
	text-align: center;
}
#logo img {
	width: 300px;
}
#nav {
	margin: 20px 0 0 0;
}
#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
#nav ul li a {
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding:10px;
	height: 20px;
	line-height: 20px;
}
#nav ul li a:link,
#nav ul li a:visited {
	color: #363636;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #FFF;
	background: #e84e1b;
}


#hero {
	background: url("imgs/hero.jpg") center center / cover no-repeat fixed;
	padding: 100px 0;
	text-align: center;
}

#products {
	background: #EEE;
	padding: 30px 0;
	text-align: center;
}

.product {
	background: #FFF;
	padding: 25px;
	margin: 60px 0 25px;
	position: relative;
}
.product h1 {
	font-size: 30px;
}
.product > span {
	display: block;
	width: 50px;
	height: 50px;
	background: #CCC;
	font-size: 27px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-25px);
}


#about {
	background: url("imgs/about.jpg") center center / cover no-repeat fixed;
	padding: 80px 0;
}
#aboutWrap {
	background: rgba(0,0,0,0.4);
	padding: 50px;
}



#partners {
	background: #EEE;
	padding: 30px 0;
	text-align: center;
}
.partnerWrap {
	text-align: center;
}
.partnerWrap img {
	display: inline-block;
	margin: 10px 0;
}


#footer {
	background: #363636;
	padding: 80px 0;
}
.footerLogo {
	margin: 30px 0;
}
.footerLogo img {
	width: 250px;
}


#footerBottom {
	margin: 30px 0 0;
	padding: 20px 0;
	border-top: 1px solid #FFF;
	text-align: center;
}


@media screen and (min-width:768px) and (max-width: 1023px) {
	.wrapper {
		width: 700px;
	}

	.headerContact span {
		display: inline-block;
	}
	#nav ul {
		flex-direction: row;
		justify-content: center;
	}
}


@media screen and (min-width:1024px) and (max-width: 1280px) {
	.wrapper {
		width: 960px;
	}
	#headerTop .wrapper {
		display: flex;
		justify-content: space-between;
	}
	.headerContact span {
		display: inline-block;
		margin: 4px 8px 0;
	}
	#headerTop {
		padding: 5px 0;
	}
	#headerBottom .wrapper {
		display: flex;
		justify-content: space-between;
	}
	#nav ul {
		flex-direction: row;
		justify-content: flex-start;
	}
	.productsWrap {
		display: flex;
		justify-content: space-between;
	}
	.product {
		flex-basis: 185px;
		padding: 20px;
	}
	#aboutWrap {
		width: 400px;
	}
	.partnerWrap img {
		margin: 10px 12px;
	}
	#footerBottom {
		text-align: left;
		display: flex;
		justify-content: space-between;
	}
}


@media screen and (min-width:1281px) {
	.wrapper {
		width: 1200px;
	}
	#headerTop .wrapper {
		display: flex;
		justify-content: space-between;
	}
	.headerContact span {
		display: inline-block;
		margin: 4px 8px 0;
	}
	#headerTop {
		padding: 5px 0;
	}
	#headerBottom .wrapper {
		display: flex;
		justify-content: space-between;
	}
	#nav ul {
		flex-direction: row;
		justify-content: flex-start;
	}
	#hero {
		padding: 200px 0;
	}
	.productsWrap {
		display: flex;
		justify-content: space-between;
	}
	.product {
		flex-basis: 220px;
		padding: 25px;
	}
	#aboutWrap {
		width: 600px;
	}
	.partnerWrap img {
		margin: 10px 12px;
	}
	#footerTop {
		display: flex;
	}
	.footerText {
		flex-basis: 300px;
		margin-right: 40px;
	}
	.footerLogo {
		margin-left: auto;
	}
	
	#footerBottom {
		text-align: left;
		display: flex;
		justify-content: space-between;
	}
}















